<a href="payment">
    <img src="../assets/images/credit-card.png" id="credit-card-img" alt="credit-card"/>
    <p id="payment">MAKE PAYMENT...</p>
    <small>If you don't take good care of your credit, then your credit won't take good care of you.As a child, a library card takes you to exotic, faraway places. When you're grown up, a credit card does it.
    </small>

    <p id="number">XXXX XXXX XXXX XXXX</p>
    <p id="name">CARD HOLDER NAME</p>
    <p id="date">EXPIRY DATE</p>

    <button class="button"><span>Click Here</span></button>
    </a>